.shop-navbar {
    height: 6vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.shop-header {
    height: 6vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.basket {
    padding-right: 1vw;
}

.socials {
    padding-left: 1vw;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    text-decoration: underline;
    user-select: none;
}

@media screen and (min-width: 900px) {
    .basket-overlay {
        width: 30vw;
        margin-left: 69vw;
        margin-right: 1vw;
        background-color: white;
        display: flex;
        flex-flow: column wrap;
    }

    .basket-overlay-title {
        text-align: center;
        background-color: rgb(238, 238, 238);
        height: 5vh;
    }
}

@media screen and (max-width: 900px) {
    @keyframes fadein {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .basket-overlay {
        animation-name: fadein;
        animation-duration: 0.5s;
    }
}


.checkout {
    width: 100%;
    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 40% 40% 20%;
    vertical-align: middle;
}

#order-total {
    grid-row: 1;
    grid-column: 1;
    margin-left: 0.5vw;
}

#checkout-btn {
    grid-row: 1;
    grid-column: 3;
    height: calc(4vh);
    margin: auto;
}