@media screen and (min-width: 900px) {
    .listing-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .separator {
        height: 3vh;
    }

    .item-page-container {
        width: 90vw;
        height: 90vh;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
}